    <footer id="contact">
        <div class="social-links">
            <a href="https://instagram.com/techno.mza" target="_blank" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://tiktok.com/@techno.mdz" target="_blank" aria-label="TikTok">
                <i class="fab fa-tiktok"></i>
            </a>
            <a href="https://www.threads.net/@techno.mza" target="_blank" aria-label="Threads">
                <i class="fab fa-threads"></i>
            </a>
            <a href="https://wa.me/542614164161?text=Hola%20como%20estas?%20Te%20hablo%20por%20mesas%20vip%20" target="_blank" aria-label="WhatsApp">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
        <p>&copy; 2025 Techno Mendoza. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
